

.image { max-width: 28.125em; min-width: 12.500em; padding-top: 0; }
.box-image-width { width: $mini-image-size;  }
.box-blade-width { width: $mini-image-size-blade; }
.box-image-height { height: $mini-image-size; }
.thumbnail { padding: 0; }

.card {
  background: $card-background; border-radius: $global-border;
  border: 1px solid red; margin-left: auto;
  margin-right: auto; margin-bottom: $card-bottom-margin;
  width: $global-width;
  padding: $card-inside-padding;
}

.cards { width: $global-width; margin-bottom: 1em; }

.inner-card { max-width: 50%; }
.inner-card img { display: inline-block; }
.card-holder { display: flex; flex-wrap: no-wrap}
.catalog-images { max-width: $global-width; }
.random-images { max-width: 300px; max-height: 300px;}
.half { width: $global-width / 2; border-radius: $global-border; }